<div class="container">
  <br>
  <div class="row justify-content-md-center">
    <form class="col-lg-9" id="clientForm">
      <h2>Clientes</h2>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="client.email" id="email" aria-describedby="emailHelp">
      </div>

      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="client.name" id="name" aria-describedby="emailHelp">
      </div>

      <div class="form-group">
        <label for="lastname">Apellido</label>
        <input type="text" class="form-control" name="lastname" [(ngModel)]="client.lastname" id="lastname" aria-describedby="emailHelp">
      </div>

      <button type="submit" (click)="add()" class="btn btn-primary">Enviar</button>
    </form>
  </div>
  <br><br>
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{ client.name }}</td>
          <td>{{ client.lastname }}</td>
          <td>{{ client.email }}</td>
        </tr>

      </tbody>
    </table>
   
  </div>
</div>